/* HomePage.css */

.home-container {
    text-align: center;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  .profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .description {
    margin-top: 10px;
    font-size: 1.1em;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    margin: 10px 0;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  button:hover {
    background-color: #45a049;
  }
  